{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

	{{#foreach posts}} <!--from="1" to="1"--> 
	  {{#if featured}}
	<article class="featured-index post">
	    <header class="post-header">
		<a href="{{url}}"><img src="{{image}}" class="featured-image"/></a>
                <div class="featured-block">
		  <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
		  <p>{{meta_description}} <a class="read-more" href="{{url}}">&raquo;</a></p>
		    <footer class="post-meta">
			{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
			{{author}}
			{{tags prefix=" on "}}
			<time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
		    </footer>
		</div>
	    </header>
	</article>
           {{/if}}
	{{/foreach}}


    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
